body {
  background: #ccc;
}

h1 {
    font-weight: bold;
    font-size: 28px;                
}

h2 {
    font-weight: bold;
    font-size: 18px;    
}

canvas {
  display: none;
}

textarea {
    width: 100%;
    height: 50px;    
}

label {
  width: 50px;
  display: inline-block;
}

img {
  border: 1px solid black;
  display: block;
}

#img1 {
  height: 100px;
  width: 100px;
}

#img2 {
  height: 200px;
  width: 200px;
}

footer {
  width: 100%;
  height: 100px;
}

#output {
  width: 100%;
}

.col {
  display: inline-block;
}

#dropzone {
    width: 100%;
    background: #ccc;
    text-align: center;
    color: white;
    content: "dropzone";
    font-size: 50px;
    margin: 10px 0;
    border: 5px dashed #fff;
}

#dropzone.hover {
    border-color: orange;
}

#example {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-size: 100% 100%;
}

canvas {
  border: 1px solid black;
}

